.container {
  margin: 0 auto;
  margin-top: 10rem;
  width: 30%;
  padding: 40px;
  border-radius: 15px;
  background: #3498db;
}

.username {
  margin-bottom: 10px;
}

.submit {
  margin-top: 20px;
  text-align: center;
}

button {
  width: 70%;
  border: none;
  padding: 8px;
  color: white;
  border-radius: 10px;
  background: #2ecc71;
}

label {
  font-weight: bold;
  color: white;
}

input {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  border-radius: 10px;
  border: none;
  border: 1px grey solid;
}
